Port 4242
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
PasswordAuthentication yes
PermitRootLogin yes

# override default of no subsystems
Subsystem	sftp	/usr/lib/openssh/sftp-server